*{
    margin:0;
    padding:0;
   
  }
  
  .container {
    background-color: #deffdb;
    max-width: 100%;
    padding: 0%;
    padding-top: 10px; 
  }
    
  .container img {
    margin-top: 10px;
    margin-bottom: 2px;
    width: 100;
    height: auto;
  }
  
  .container b {
    padding-left: 10px;
    padding-top: 15px;
  }
  
  .company {
    display: flex;
    width: 100%;
  }
  
  .company img {
    width: 60%;
    height: auto;
    padding-left: 80px;
    padding-top: 80px;
    
  }
  
  .text {
    display: block;
    text-align: left;
    padding-left: 130px;
    padding-right: 50px;
    padding-top: 150px;
  }
  
  .text h1{
    text-align: left;
    
    font-size: 30px;  
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .text p{
    font-size: 18px;
  }
  
  .drop{
    display: flex;
    padding-bottom: 50px;
  }
  
  .drop img {
    width: 70%;
    height: auto;
    float: right;
    align-items: right;
    padding-left: 250px;
    padding-right: 50px;
  }
  
  .drop h1{
    text-align: left;
    font-size: 30px;  
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .text2 {
    padding-left: 80px;
  }
  
  .text2 p{
    font-size: 20px;
    padding-left: 20px;
  }
  
  .contact {
    display: flex;
    padding-bottom: 50px;
  }
  
  .contact img {
    width: 60%;
    height: auto;
    padding-left: 80px;
    padding-top: 40px;
  }
  
  .contact h1{
    text-align: left;
    font-size: 30px;  
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .text3 {
    padding-left: 50px;
    padding-top: 80px;
  }
  
  .text3 p{
    padding-left: 50px;
    font-size: 25px;
  }
  