body{
    margin: 0;
    padding: 0;
}

.header {
    background-color: #deffdb;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
}

.header img{
  margin-top: 10px;
  margin-bottom: 10px;
}

b {
    font-style: italic;
}

b2 {
    font-style: calibri;
}

* {
    box-sizing: border-box;
}

.glass {
    width: 40%;
    float: left;
    margin-left: 30px;
    margin-right: 40px;
    padding: 20px;
}

.glass {
    height: 400px;
}

#divpic {
    height:350px;
    width:350px;
    text-align:center;
}
.food {
    font-size:1.1em;
    font-style: arial;
    color: black;
}

.footer {
    width: 100%;
    position: fixed;        
    padding: 10px 0;
    bottom: 0;
    border-top: 1px solid #ccc;
    
  }
  
  .footer h2{
    text-align: right;
    font-family: Helvetica;
    font-size: 10px;
    color: gray;
    padding-right: 15px;
    font-weight: lighter;
  }